src/modules/ticker/schema/xml/xsd/ticker.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://rabe.ch/schema/ticker.xsd"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:tns="http://rabe.ch/schema/ticker.xsd"
  xmlns="http://rabe.ch/schema/ticker.xsd">

  <xsd:annotation>
    <xsd:documentation>
      This schema defines the new songticker format for rabe. It uses available standard
      schemas for structuring the elements in a sane way.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>

  <xsd:element name="ticker">
    <xsd:annotation>
      <xsd:documentation>
        The main "ticker" tag contains some metadata concerning ticker generation. The real
        ticker data is stored in the show and track elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="identifier" type="xsd:ID"       minOccurs="1"/>
        <xsd:element name="creator"    type="xsd:string"   minOccurs="1"/>
        <xsd:element name="date"       type="xsd:dateTime" minOccurs="1"/>

        <xsd:element name="show"       type="showType"     minOccurs="1"/>
        <xsd:element name="artist"     type="artistType"   minOccurs="0"/>
        <xsd:element name="track"      type="trackType"    minOccurs="1"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="showType">
    <xsd:annotation>
      <xsd:documentation>
        Show elements must contain some data as well as an xlink compliant link
        subtag to the shows page.
        The id attribute might be autogenerated using the xslt generate-id() 
        method over all subtags. It must be unique over all airings of a given
        show. 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="name"      type="xsd:string"   minOccurs="1"/>
      <xsd:element name="link"      type="linkType"     minOccurs="1"/>
      <xsd:element name="startTime" type="xsd:dateTime" minOccurs="1"/>
      <xsd:element name="endTime"   type="xsd:dateTime" minOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="artistType">
    <xsd:annotation>
      <xsd:documentation>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="name" type="xsd:string" minOccurs="1"/>
      <xsd:element name="link" type="linkType"   minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="trackType">
    <xsd:annotation>
      <xsd:documentation>
        The track element contains the most up-to-date information on whats
        currently live on the radio. Since we do not always now all the 
        information some of its elements are nillable.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="show"      type="trackShowType"   minOccurs="1"/>
      <xsd:element name="artist"    type="trackArtistType" minOccurs="1"/>
      <xsd:element name="title"     type="xsd:string"      minOccurs="1"/>
      <xsd:element name="link"      type="linkType"        minOccurs="0"/>
      <xsd:element name="startTime" type="xsd:dateTime"    minOccurs="1"/>
      <xsd:element name="endTime"   type="xsd:dateTime"    minOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="id" type="xsd:ID"     use="required"/>
  </xsd:complexType>

  <xsd:complexType name="linkType">
    <xsd:annotation>
      <xsd:documentation>
        Links are generally xlink based, for convenience the also contains the link 
        url in their body. They are available in multiple places.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:anyURI">
        <xsd:attributeGroup ref="xlink:simpleAttrs"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="trackShowType">
    <xsd:annotation>
      <xsd:documentation>
        The show tag underneath a track tag contains a reference to the show in the
        main /ticker/show tag as well as the name of the show for convenience.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="ref" type="xsd:IDREF" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="trackArtistType">
    <xsd:annotation>
      <xsd:documentation>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="ref" type="xsd:IDREF" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
